@import "../partials/variables.scss";
@import "../partials/breakpoints.scss";

.header-main {
  .site-nav__link {
    display: inline-block;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    @include breakpoint(tablet-lg) {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.02em;
    }
  }

  .site-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    color: #fff;
    box-shadow: none;
    transition: background-color 0.3s ease;

    .announcement {
      min-height: 60px;
      display: grid;
      place-items: center;

      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      text-align: center;

      @include breakpoint(phone) {
        font-size: 18px;
        line-height: 29px;
      }

      a {
        &:hover {
          color: inherit;
        }
      }
    }

    .site-header__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding-top: 30px;
      padding-bottom: 25px;
      position: relative;
      min-height: 64px;
      border-bottom: 1px solid rgba(209, 222, 231, 0.5);

      @include breakpoint(tablet-lg) {
        gap: 30px;
      }
      &.not-menu {
        .button.button-black {
          color: #fff;
        }
      }
    }

    .site-logo {
      &.site-logo--left {
        min-width: 68px;
        @include breakpoint(tablet-lg){
          min-width: unset;
        }
      }
    }

    .site-header__btn-menu {
      width: auto;
      position: relative;
      z-index: 101;

      .btn-hamburger {
        position: relative;
        display: inline-block;
        z-index: 100;
        width: 24px;
        height: 24px;

        &:before,
        &:after,
        span {
          content: "";
          background: #ffffff;
          display: block;
          width: 20px;
          height: 2px;
          top: 50%;
          border-radius: 3px;
          margin-top: -1px;
          position: absolute;
          left: 50%;
          margin-left: -10px;
          transition: none 0.15s ease 0.15s;
          transition-property: transform, top, bottom, right, opacity;
        }
        &:before {
          transform: translateY(-6px);
        }
        &:after {
          transform: translateY(6px);
        }
        &.is-active {
          &:before {
            transform: rotate(45deg);
          }
          &:after {
            transform: rotate(-45deg);
          }
          span {
            opacity: 0;
          }
        }
      }

      &.site-header__btn-menu--left {
        min-width: 68px;
        @include breakpoint(tablet-lg){
          min-width: unset;
        }
      }
    }

    .site-header__actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;
      z-index: 1;

      i {
        color: #fff;
        z-index: 10;
        transition: all 0.3s ease;
        position: relative;
        font-size: 18px;
      }

      .btn-cart {
        position: relative;
        .btn-cart__count {
          position: absolute;
          z-index: 100;
          top: -5px;
          right: -5px;

          width: 20px;
          height: 20px;
          background-color: #000000;
          border-radius: 100%;

          display: flex;
          justify-content: center;
          align-items: center;

          span {
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 13px;
            text-align: center;
            color: #fafafa;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .site-header__line {
      border-bottom: 1px solid rgba(209, 222, 231, 0.5);
      margin: 0;
    }

    &.site-header--color-black {
      .btn-hamburger {
        &:before,
        &:after,
        span {
          background-color: #000000;
        }
      }

      a,
      i {
        color: #000000;
      }

      button {
        color: #000000;
        i {
          color: #000000;
        }
      }

      .site-header__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;

        svg {
          path {
            stroke: #000000;
          }
        }

        .site-header__btn-account {
          display: none;
          @include breakpoint(tablet-lg) {
            display: block;
          }
        }

        i {
          color: #fff;
          z-index: 10;
          transition: all 0.3s ease;
          position: relative;
          font-size: 18px;
        }
      }

      .site-header__line {
        border-bottom: 1px solid #e6e6e6;
      }
    }

    &.site-header--on-scroll {
      background: rgba(0, 0, 0, 1);

      .site-header__line {
        visibility: hidden;
      }
      .site-header__inner {
        border-bottom: 1px solid transparent;
      }

      .btn-cart {
        position: relative;
        .btn-cart__count {
          background-color: #fafafa;
          span {
            color: #000000;
          }
        }
      }
    }
  }

  .site-nav {
    position: fixed;
    z-index: 100;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
    background-color: #000000;

    &.site-nav--open {
      left: 0;
    }

    @include breakpoint(tablet-lg) {
      position: relative;
      height: auto;
      left: 0;
      width: auto;
      border: none;
      background-color: transparent;
    }

    .site-nav__container {
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 20px;

      @include breakpoint(phone) {
        padding-left: 30px;
        padding-right: 30px;
      }

      @include breakpoint(tablet-lg) {
        padding-top: 0;

        display: flex;
        align-items: center;
        gap: 28px;
      }
    }

    .site-nav__link {
      width: 100%;
      text-align: left;
      padding: 20px 0;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #ffffff;

      @include breakpoint(phone) {
        font-size: 24px;
        line-height: 36px;
      }

      @include breakpoint(tablet-lg) {
        width: auto;
        padding: 0;
        border: 0;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  .search-form {
    position: fixed;
    z-index: 100;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    right: 0;
    transition: all 0.3s ease;
    background-color: #000000;
    &.search-form--active {
      left: 0;
    }

    .pp-container {
      position: relative;
      height: 100%;
      padding-top: calc(65px + 132px);

      @include breakpoint(phone) {
        padding-top: calc(100px + 204px);
      }

      @include breakpoint(tablet-lg) {
        padding-top: 0;
        display: flex;
        align-items: center;
      }
    }

    .icon-cancel {
      position: absolute;
      top: calc(65px + 40px);
      right: 25px;
      cursor: pointer;
      @include breakpoint(phone) {
        top: calc(100px + 50px);
        width: 52px;
        right: 30px;
      }

      @include breakpoint(tablet-lg) {
        top: calc(100px + 30px);
        right: 100px;
      }
    }

    .search-form__input {
      width: 100%;
      border-bottom: 1px solid #d1dee7;
      padding-bottom: 28px;
      display: flex;
      align-items: center;
      gap: 20px;
      input {
        flex-grow: 1;
        background-color: transparent;
        border: 0;

        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 156%;
        color: #ffffff;
        @include breakpoint(phone) {
          font-size: 28px;
          line-height: 42px;
        }
        @include breakpoint(desktop-sm) {
          font-size: 36px;
          line-height: 54px;
        }

        @include inputPlaceholder {
          color: #a9a9a9;
        }
      }

      .search-form__submit {
        cursor: pointer;
      }
    }
  }

  &.header-main--announcement {
    .search-form {
      .icon-cancel {
        top: calc(65px + 110px);

        @include breakpoint(phone) {
          top: calc(100px + 120px);
        }
        @include breakpoint(tablet-lg) {
          top: calc(100px + 100px);
        }
      }
      .pp-container {
        padding-top: calc(125px + 132px);

        @include breakpoint(phone) {
          padding-top: calc(160px + 204px);
        }

        @include breakpoint(tablet-lg) {
          padding-top: 0;
          display: flex;
          align-items: center;
        }
      }
    }
    .site-nav {
      .site-nav__container {
        padding-top: 20px;

        @include breakpoint(tablet-lg) {
          padding-top: 0;
        }
      }
    }
  }
}
